<div>
    <h2>Step 1: Choose your model and color</h2>
    <div>
        <label for="modelSelect">Model:</label>
        <select id="modelSelect" name="selectedModel" [(ngModel)]="selectedCarData.selectedModelCode" (change)="onChangeModel()">
            <option *ngFor="let item of firstFormData" [ngValue]="item.code" >{{ item?.description }}</option>
        </select>
    </div>
    <div>
        <label for="colorSelect">Color:</label>
        <select id="colorSelect" name="selectedColor" [(ngModel)]="selectedCarData.selectedColorCode" (change)="onChangeColor()">
            <option *ngFor="let color of selectedCarData.colorList" [ngValue]="color.code" >{{ color.description }}</option>
        </select>
    </div>
    <div class="img-div" *ngIf="selectedCarData.selectedColorCode">
        <img src="{{imgPath}}" alt="Blue Image">
    </div>
</div>